.circles{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1400px;
    opacity: 0.8;
    height: 100%;
    left:50%;
    transform:translate(-50%);
    z-index:5;
    img{
        position: absolute;
        height: 100%;
        width: auto;
     
    }
    &-circle{
        &-1{
            left:-200px;
        }
        &-2{
            left:-200px;
        }
        &-3{
            left:70%;
        }
    }
}