.pvp {
    &-bottom {

        &-flex {
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            align-items: flex-end;
            width: 100%;
            padding: 0px 80px 80px 80px;
        }
    }

    .bottom-text {
        position: static;
    }

}