@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.indicator {
  position: fixed;
  right: 65px;
  z-index: 10000;
  display: none;
}
.indicator-line {
  width: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
  height: 80vh;
}
.indicator-section {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  height: 50px;
}
.indicator-section-btn {
  font-weight: 300;
  white-space: nowrap;
  text-align: right;
  flex: 1;
  padding-right: 50px;
  opacity: 0;
  transition: 0.3s all;
  font-size: 14px;
  line-height: 16px;
  color: white;
}
.indicator-section-figure {
  position: relative;
  top: 10px;
  transform: rotate(45deg);
}
.indicator-section-figure div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.indicator-section-figure-small {
  width: 3px;
  height: 3px;
  background: white;
}
.indicator-section-figure-medium {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 16.67%, rgba(255, 255, 255, 0) 97.92%);
  width: 16.97px;
  height: 16.97px;
  transition: 0.2s all;
}
.indicator-section-figure-big {
  transition: 0.2s all;
  opacity: 0;
  background: linear-gradient(135deg, rgba(1, 130, 249, 0.2) 16.67%, rgba(1, 130, 249, 0) 97.92%);
  width: 45px;
  height: 45px;
}
.indicator-section:hover .indicator-section-btn {
  color: #0182f9;
}
.indicator #selected-section .indicator-section-btn {
  color: #0182f9;
  font-weight: bold;
}
.indicator #selected-section .indicator-section-figure-medium {
  background: linear-gradient(135deg, rgba(1, 130, 249, 0.5) 16.67%, rgba(1, 130, 249, 0) 97.92%);
}
.indicator #selected-section .indicator-section-figure-big {
  opacity: 1;
}
.indicator-active .indicator-section-name {
  opacity: 1;
  pointer-events: all;
}
.indicator:hover .indicator-section-btn {
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
  .indicator {
    right: 25px;
  }
  .indicator-section {
    height: 40px;
  }
  .indicator-section-figure-medium {
    width: 12px;
    height: 12px;
  }
  .indicator-section-figure-big {
    width: 30px;
    height: 30px;
  }
  .indicator-section-btn {
    display: none;
  }
}
.frame {
  background: linear-gradient(2.79deg, rgba(1, 130, 249, 0.3) 6.24%, rgba(1, 130, 249, 0) 141.83%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
  transition: 0.2s all;
  margin: 0 auto;
  position: relative;
}
.frame-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px dashed rgba(51, 130, 205, 0.6);
  width: 100%;
  height: 100%;
}
.frame-inner-content {
  height: 100%;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.popup-blur {
  backdrop-filter: blur(6px);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: black;
  opacity: 0.5;
}
.popup .frame {
  position: relative;
  z-index: 9;
}
.popup-content {
  position: relative;
  z-index: 99;
}
.popup-content-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
}
.popup-content-close img {
  width: 40px;
  height: 40px;
}

.app-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all;
}
.app-loader-bg {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  transform: scale(1.03);
  animation: zoomOutBg 4s linear 1s forwards;
  transform-origin: center;
}
.app-loader-img {
  width: 725.91px;
  height: 513.3px;
  object-fit: contain;
  position: relative;
  z-index: 10;
  animation: zoomOutImage 4s linear 1s forwards;
}
.app-loader-overlay {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 5;
}

@keyframes zoomOutImage {
  0% {
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@keyframes zoomOutBg {
  0% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.circles {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1400px;
  opacity: 0.8;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
  pointer-events: none;
}
.circles img {
  position: absolute;
  height: 100%;
  width: auto;
}
.circles-circle-1 {
  left: -300px;
}
.circles-circle-2 {
  left: -400px;
}
.circles-circle-3 {
  left: 950px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  border-radius: 50%;
  z-index: 999;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  padding-top: 120px;
}
.container-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  text-shadow: 0px 4px 30px #000000;
  margin-bottom: 20px;
  font-weight: 500;
}
.container-title strong {
  font-weight: 700;
}
.container-subtitle {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  max-width: 640px;
  font-weight: 200;
}
.container-subtitle strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
p,
h6,
strong,
button,
a {
  font-family: "Raleway", sans-serif;
  color: white;
}

.scroller {
  border-radius: 20px;
  width: 26px;
  height: 44px;
  border: 3px solid white;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 30px;
  z-index: 999;
  display: none;
  justify-content: center;
}
.scroller figure {
  top: 5px;
  position: absolute;
  width: 3px;
  background: #0182f9;
  border-radius: 30px;
  height: 9px;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
* {
  color: white;
}

.bottom-text {
  position: absolute;
  left: 80px;
  bottom: 80px;
  z-index: 10;
}
.bottom-text p {
  font-style: normal;
  font-weight: 200;
  font-size: 26px;
  color: white;
  line-height: 36px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bottom-text p strong {
  font-weight: 500;
}

.video-popup {
  transition: 0.3s all;
  opacity: 0;
  pointer-events: none;
}
.video-popup .popup-content {
  max-width: 1150px;
  max-height: 780px;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
}
.video-popup .popup-content .frame {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.video-popup .popup-content .frame-inner {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.video-popup .popup-content .frame-inner-content {
  overflow: hidden;
}
.video-popup .popup-content .frame-inner-content video {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: auto;
  height: 100%;
}

.video-preview {
  margin: 0px;
  transition: 0.3s all;
  cursor: pointer;
  padding: 9px;
}
.video-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-preview .frame {
  position: relative;
  padding: 15px;
}
.video-preview .frame-inner {
  padding: 7px;
}
.video-preview .frame-inner-content {
  overflow: hidden;
  padding: 0px;
  width: 315px;
  height: 215px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.video-preview .frame-inner-content .play {
  position: absolute;
  width: 45px;
  height: 45px;
  object-fit: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  transition: 0.2s all;
  transform-origin: center;
}
.video-preview .frame-inner-content:hover .play {
  transform: scale(1.1) translate(-50%, -50%);
}

.page-bottom-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  padding-right: 130px;
  padding-bottom: 80px;
  padding-left: 80px;
}
.page-bottom-flex .frame {
  margin: 0px;
}

@media only screen and (max-width: 1000px) {
  .bottom-text {
    left: unset;
    bottom: unset;
  }
  .bottom-text p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .video-popup .popup-content {
    width: 100%;
    height: 100%;
    max-height: unset;
  }
  .video-popup .popup-content .frame {
    padding: 15px;
  }
  .video-popup .popup-content .frame-inner {
    padding: 12px;
  }

  .page-bottom-flex {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    flex: 1;
    padding: 0px;
    padding-bottom: 50px;
    justify-content: space-between;
  }
  .page-bottom-flex .frame {
    order: 1;
    height: fit-content;
  }
  .page-bottom-flex .frame-inner-content {
    max-width: 60vw;
    max-height: 42vw;
  }
  .page-bottom-flex .bottom-text {
    order: 2;
  }

  .container {
    padding-top: 50px;
  }
  .container-title {
    font-size: 22px;
    line-height: normal;
    padding-left: 35px;
    padding-right: 35px;
  }
  .container-subtitle {
    line-height: normal;
    font-size: 16px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  color: black;
  outline: none;
  user-select: text;
}

button {
  padding: 0px;
  cursor: pointer;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

:root {
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: black;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.base-delay {
  --animate-delay: 0.2s;
}

.navbar {
  height: 120px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
  width: 100%;
  transition: 0.2s all;
}
.navbar-flex {
  padding: 0px 30px 0px 30px;
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-hamburger {
  display: none;
  flex-direction: column;
  height: 25px;
  width: 20px;
  justify-content: space-between;
}
.navbar-hamburger section {
  background: #0182F9;
  height: 3px;
  width: 100%;
}
.navbar-hamburger section:nth-child(2) {
  position: relative;
  left: -8px;
}
.navbar-logo {
  margin-left: 44px;
}
.navbar-logo img {
  height: 70px;
}
.navbar-coming-soon {
  position: absolute;
  right: 0px;
  top: -30px;
  width: 380px;
}
.navbar-transparent {
  background: transparent;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    height: 70px;
  }
}
.content {
  position: fixed;
  top: 0px;
  opacity: 1;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}

.section {
  opacity: 0;
}
.section .hidden-flex {
  display: none;
}
.section .hidden-block {
  display: none;
}

.active {
  opacity: 1;
}
.active .hidden-flex {
  display: flex;
}
.active .hidden-block {
  display: block;
}

.sections {
  z-index: 100;
  height: 100vh;
}

.section {
  margin: 0 auto;
  position: relative;
  align-items: flex-start;
}
.section-title {
  font-size: 60px;
  margin-left: 140px;
  color: white;
  font-weight: 500;
  line-height: 70px;
}
.section-title strong {
  font-weight: 700;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 15;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 1;
  transition: 0.3s all;
}

.full-screen-video {
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-aspect-ratio: 16/9) {
  .full-screen-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .full-screen-video {
    width: auto;
    height: 100%;
  }
}
.species {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.species-bottom-text {
  margin-top: auto;
  max-width: 462px;
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
  text-align: center;
  margin-bottom: 40px;
}
.species-bottom-text strong {
  font-weight: 500;
}
.species .swiper {
  width: 1215px;
  padding-right: 95px;
  margin: 0 auto;
  height: 490px;
  margin-top: 60px;
  position: relative;
  z-index: 99;
}
.species .swiper-wrapper {
  align-items: center;
}
.species .swiper-slide {
  height: 263px;
  cursor: pointer;
  transition: 0.2s all;
}
.species .swiper-slide .frame {
  width: 200px;
  padding: 13px;
}
.species .swiper-slide .frame-inner {
  padding: 6px;
}
.species .swiper-slide .frame-inner-content {
  background: rgba(0, 0, 0, 0.5);
}
.species .swiper-slide .species-slider-element {
  width: 162px;
}
.species .swiper-slide .species-slider-element-text {
  position: absolute;
  bottom: -15px;
  width: auto;
  height: 64px;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}
.species .swiper-slide .species-slider-element-text-overlay {
  position: absolute;
  background: radial-gradient(62.06% 71.01% at 50% 50%, rgba(1, 130, 249, 0.5) 0%, rgba(0, 0, 0, 0) 100%, rgba(1, 130, 249, 0) 100%);
  width: 100%;
  height: 100%;
  filter: blur(10px);
}
.species .swiper-slide .species-slider-element-text p {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.species .swiper-slide .species-slider-element-globe {
  position: absolute;
  top: -50px;
  width: 55px;
  height: 55px;
}
.species .swiper-slide .species-slider-element-globe img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.species .swiper-slide .species-slider-element-avatar {
  width: auto;
  height: 159px;
  object-fit: contain;
  position: relative;
  bottom: 10px;
}
.species .swiper-slide-active {
  width: 294px !important;
}
.species .swiper-slide-active .species-slider-element-text {
  bottom: -22px;
}
.species .swiper-slide-active .species-slider-element-text p {
  background: linear-gradient(325.91deg, #0182F9 14.14%, rgba(1, 130, 249, 0) 126.27%);
  filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.25));
  color: white;
  font-weight: 600;
  padding: 0px 20px;
}
.species .swiper-slide-active .species-slider-element-avatar {
  height: 180px;
  bottom: 0px;
}
.species .swiper-slide-active .frame {
  transform: scale(1.47);
  transform-origin: center;
}
.species .species-slider-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1450px) {
  .species .swiper {
    zoom: 0.85;
  }
}
@media only screen and (max-width: 1000px) {
  .species .swiper {
    width: 800px;
    zoom: 0.6;
    padding-right: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .species-bottom-text {
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.variations .container-subtitle {
  z-index: 99;
  position: relative;
}
.variations-ape {
  position: relative;
  z-index: 99;
  width: fit-content;
}
.variations-ape-arrow {
  position: absolute;
  left: 100%;
  top: 49%;
}
.variations-video {
  position: absolute;
  left: 0px;
  top: -60px;
}
.variations-video-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 105%;
  height: 105%;
  object-fit: cover;
  z-index: 9;
  transform: translate(-50%, -50%);
}
.variations-video-container {
  width: 1150px;
  height: 730px;
  overflow: hidden;
}
.variations-video-container-circle {
  position: absolute;
  left: 50%;
  width: 550px;
  height: 550px;
  object-fit: contain;
  transform: translate(-50%);
  z-index: 99;
}
.variations-video video {
  width: 100%;
  height: auto;
  transform: scale(1.6);
  margin-top: -60px;
}
.variations #variations-ape-loader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.variations-globe {
  position: absolute;
  width: 360px;
  height: 360px;
  object-fit: contain;
  top: -50px;
  left: -200px;
}
.variations-flex {
  margin-top: 40px;
  position: relative;
  height: fit-content;
  width: 1000px;
  justify-content: flex-start;
  z-index: 10;
}
.variations .frame {
  position: relative;
  z-index: 10;
  margin: 0px;
  width: fit-content;
  height: fit-content;
  padding: 23px;
}
.variations .frame-inner {
  padding: 10px;
}
@media only screen and (max-width: 1600px) {
  .variations-flex {
    zoom: 0.8;
  }
}
@media only screen and (max-width: 1000px) {
  .variations-globe {
    display: none;
  }
  .variations-flex {
    margin-top: 130px;
    zoom: 0.3;
    position: relative;
    width: auto;
    margin-right: auto;
    margin-left: 70px;
  }
}
.main-bottom-text {
  position: absolute;
  bottom: 80px;
  left: 80px;
}

#main-video {
  transition: 0.6s all;
  opacity: 0;
  z-index: 0;
}

.cantina .bottom-text p {
  background: -webkit-linear-gradient(0deg, #FFAB2E 0%, #FFFFFF 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1000px) {
  .cantina .bottom-text {
    position: static;
    margin-top: auto;
    margin-bottom: 50px;
  }
}
.pve .bottom-text {
  position: static;
}
.pve .bottom-text p {
  background: -webkit-linear-gradient(0deg, #0182F9 0%, #FFFFFF 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pvp .bottom-text {
  position: static;
}
.pvp .bottom-text p {
  background: -webkit-linear-gradient(0deg, #FF2E2E 0%, #FFFFFF 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scholarships .frame {
  padding: 9px;
}
.scholarships .frame-inner {
  padding: 7px;
}
.scholarships .frame-inner-content {
  width: 315px;
  height: 215px;
}
.scholarships-medium {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180.26deg, rgba(255, 255, 255, 0.85) 24.53%, rgba(174, 216, 255, 0.8) 99.78%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.scholarships .bottom-text {
  position: static;
}
.scholarships .bottom-text p {
  background: -webkit-linear-gradient(0deg, #0182F9 0%, #FFFFFF 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.apes-flex {
  display: flex;
  align-items: flex-start;
  max-width: 950px;
  width: calc(100% - 100px);
  justify-content: space-between;
  margin-top: 100px;
}
.apes .ape-container {
  width: fit-content;
  position: relative;
}
.apes .ape-figure {
  position: absolute;
}
.apes .ape-figure-bottom-small {
  left: -78px;
  width: 10px;
  height: 10px;
  bottom: 20px;
}
.apes .ape-figure-bottom-big {
  width: 30px;
  height: 30px;
  left: -40px;
  bottom: 60px;
}
.apes .ape-figure-top-small {
  right: -50px;
  width: 10px;
  height: 10px;
  top: 50px;
}
.apes .ape-figure-top-big {
  width: 30px;
  height: 30px;
  left: calc(100% + 10px);
  top: 90px;
}
.apes .ape-model {
  width: fit-content;
  position: relative;
  padding: 20px;
}
.apes .ape-model .frame-inner {
  padding: 10px;
}
.apes .ape-model .spinner {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.apes .ape-small-ape {
  position: absolute;
  width: 170px;
  height: 170px;
  top: 30px;
  left: -100px;
  z-index: 99;
}
.apes .ape-coins {
  position: absolute;
  bottom: 10px;
  left: calc(100% - 40px);
  height: fit-content;
  background: linear-gradient(2.79deg, rgba(255, 171, 46, 0.3) 6.24%, rgba(255, 171, 46, 0.15) 141.83%);
  padding: 11px;
}
.apes .ape-coins .frame-inner {
  padding: 5px;
  border: 1px dashed rgba(144, 129, 31, 0.6);
  width: fit-content;
  height: fit-content;
}
.apes .ape-coins .frame-inner-content {
  background: linear-gradient(17.81deg, rgba(230, 209, 23, 0.5) 42.78%, rgba(230, 209, 23, 0) 93.77%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 125px;
  height: 123px;
}
.apes .ape-coins img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.apes #ape-first-container .ape-figure-bottom-small {
  background: linear-gradient(0deg, #17E6B7, #17E6B7), #17E6B7;
}
.apes #ape-first-container .ape-figure-bottom-big {
  background: linear-gradient(52.82deg, #17E6B7 0%, rgba(23, 230, 183, 0) 162.38%);
}
.apes #ape-first-container .ape-figure-top-small {
  background: #FFF620;
}
.apes #ape-first-container .ape-figure-top-big {
  background: linear-gradient(205.96deg, #FFAB2E 0%, #FAF6CF 131.73%);
  opacity: 0.8;
}
.apes #ape-first-container .ape-model .frame-inner-content {
  background: linear-gradient(167.13deg, rgba(23, 230, 183, 0.5) 32.46%, rgba(23, 230, 183, 0) 91.81%);
}
.apes #ape-second-container .ape-figure-bottom-small {
  background: linear-gradient(0deg, #6F5D70, #6F5D70), #6F5D70;
}
.apes #ape-second-container .ape-figure-bottom-big {
  background: linear-gradient(52.82deg, #6F5D70 0%, rgba(111, 93, 112, 0) 162.38%);
}
.apes #ape-second-container .ape-figure-top-small {
  background: #FFF620;
}
.apes #ape-second-container .ape-figure-top-big {
  background: linear-gradient(205.96deg, #FFAB2E 0%, #FAF6CF 131.73%);
  opacity: 0.8;
}
.apes #ape-second-container .ape-model .frame-inner-content {
  background: linear-gradient(167.13deg, rgba(111, 93, 112, 0.5) 32.46%, rgba(1, 130, 249, 0.5) 91.81%);
}

.selected, .apes .ape-coins {
  background-color: transparent;
  -webkit-animation: vibrate-1 1.8s linear infinite both;
  animation: vibrate-1 1.8s linear infinite both;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@media only screen and (max-width: 1000px) {
  .apes-flex {
    flex-direction: column;
    align-items: center;
    zoom: 0.4;
  }
  .apes-flex #ape-first-container {
    margin-bottom: 50px;
    transform: translate(-180px);
  }
  .apes-flex #ape-second-container {
    transform: translate(50px);
  }
}
.partners-list {
  margin-top: 30px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.partners-list-item {
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.partners-community {
  margin-top: 30px;
}
.partners-community-title {
  background: -webkit-linear-gradient(90deg, #0182F9 0%, #FFFFFF 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 60px;
}
.partners-community-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners-community-list-item {
  width: 60px;
  height: 60px;
  margin-right: 40px;
}
.partners-community-list-item:last-child {
  margin-right: 0px;
}
.partners-community-list-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.partners-community-list-item a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 1000px) {
  .partners-list {
    zoom: 0.28;
  }
  .partners-community-list {
    zoom: 0.5;
  }
}

/*# sourceMappingURL=index.css.map */
