.pve{
  
    .bottom-text{
        position: static;
        p{
          
            background: -webkit-linear-gradient(0deg, #0182F9 0%, #FFFFFF 60%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
   
}