.cantina{
    .bottom-text{
        p{
            background: -webkit-linear-gradient(0deg, #FFAB2E 0%, #FFFFFF 60%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media only screen and (max-width: $mobile){
    .cantina{
        .bottom-text{
            position:static;
            margin-top:auto;
            margin-bottom:50px;
        }
    }
    
}   