.main{

    &-bottom-text{
        position: absolute;
        bottom: 80px;
        left: 80px;
    }
    
    #main-video {
        position: absolute;
        right: 0;
        top: 0;
       
        transition: 0.6s all;
        opacity: 0;
      }
}